<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <app-game-control (startGameEvent)="increment($event)"></app-game-control>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="alert alert-warning">Below are Even Numbers</div>
          <div class="panel panel-info" *ngIf="evenNumbers.length">
            <div class="panel-body">
              <app-even
                *ngFor="let number of evenNumbers"
                [evenNumber]="number"
              ></app-even>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="alert alert-danger">Below are odd Numbers</div>
          <div class="panel panel-danger" *ngIf="oddNumbers.length">
            <div class="panel-body">
              <app-odd
                *ngFor="let number of oddNumbers"
                [oddNumber]="number"
              ></app-odd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
