<div
  class="container"
  style="padding: 10px; border: 1px solid; margin-top: 10px"
>
  <div class="well">
    <h2>
      <u>Assignment-02 :</u> <span class="app-name">{{ assignmentName }}</span>
    </h2>
    <img src="" class="img-rounded" />
    <ol>
      <li>
        Add a input field which updates a property(username) via Two-Way-Binding
      </li>
      <li>
        Output the username property using String Interpolation( in a paragraph
        below the input)
      </li>
      <li>
        Adds a button which may only be clicked if the username is not an empty
        string
      </li>
      <li>
        Upon the clicking the button, username should reset to empty string
      </li>
    </ol>
  </div>
  <div
    class="alert alert-primary"
    role="alert"
    style="padding: 10px; background-color: bisque"
  >
    <div class="row">
      <div class="col-xs-4">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Username"
          [(ngModel)]="username"
        />
      </div>
      <div class="col-xs-2">
        <button
          class="btn btn-primary"
          [disabled]="!username"
          (click)="clearUserName()"
        >
          Update
        </button>
      </div>
    </div>
    <div>
      {{ username }}
    </div>
  </div>
</div>
