<div class="row">
  <div class="col-sm-12">
    <div
      *ngIf="server"
      class="panel"
      [ngClass]="isActive ? 'panel-success' : 'panel-danger'"
    >
      <div class="panel-heading">
        Server Status :
        <b *ngIf="!isActive">Stopped/ In-Active</b>
        <b *ngIf="isActive">Running/Active</b>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3"><b>Server Name:</b></div>
          <div class="col-sm-4">{{ server.name }}</div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3"><b>Server Description:</b></div>
          <div class="col-sm-9">{{ server.description }}</div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-info pull-left" routerLink="/servers">
          Back
        </button>
        <button
          class="btn btn-warning pull-right"
          style="border-radius: 0px; height: 35px"
          [routerLink]="['edit']"
          [queryParams]="{ id: '0' }"
          [disabled]="isActive"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <router-outlet></router-outlet>
  </div>
</div>
