<div class="row">
    <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Enter Server Name" #serverName>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Enter Server Description" #serverDescription>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-success" style="float: left;" (click)="addNewServer()">Add Server</button>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" style="float: left;" (click)="reloadServers()">Reload Server</button>
    </div>
</div>