<div class="panel panel-primary">
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Ingredient Name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Ingredient Quantity"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary">Add Ingredient</button>
          <button class="btn btn-danger">Delete Ingredient</button>
          <button class="btn btn-warning">Clear Entry</button>
        </div>
      </div>
    </form>
  </div>
</div>
