<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-success">This is Home Page</div>
            <ul class="list-group">
              <li class="list-group-item">
                <button class="btn btn-info" (click)="login()">Login</button>
                <button class="btn btn-danger" (click)="logout()">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
