<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <a
        class="btn btn-success"
        style="border-radius: 0px"
        [routerLink]="['add']"
      >
        Add Recipie
      </a>
    </div>
  </div>
</div>
<div
*ngIf="isError"
class="card" style="border-color: red; background-color: antiquewhite">
  <div class="card-body">
    <ul>
      <li>
        <b>Message :</b> {{custom_error_message}}
      </li>
      <li>
        <b>Root Cause :</b> {{error.message}}
      </li>
      <li><b>Name :</b> {{error.name}}</li>
      <li><b>Status Code :</b> {{error.status}}</li>
      <li><b>Status Text :</b> {{error.statusText}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-7" style="border-right: 1px solid lightgray">
    <app-recipe-list (errorEmitter)="onError($event)"></app-recipe-list>
  </div>
  <div class="col-sm-5">
    <router-outlet></router-outlet>
  </div>
</div>
