<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="align-self: center"><b>Recipe Section</b></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <app-recipes-list (displayRecipeInfoEvent)="displayRecipeInfo($event)"></app-recipes-list>
      </div>
      <div class="col-sm-6">
        <div *ngIf="recipe"
          class="alert alert-warning"
          style="border-radius: 0px; color: black"
        >
          <app-recipes-info  [recipe]="recipe"></app-recipes-info>
        </div>
      </div>
    </div>
  </div>
</div>
