.btn {
  border-radius: 0px;
}
.odd {
  background-color: pink;
}
.even {
  background-color: greenyellow;
}

.custom {
  font-weight: bold;
  border: 1px solid;
  border-radius: 0px;
  padding: 5px;
}
