<div class="panel panel-info">
  <div class="panel-heading">Active/Running Servers</div>
  <div class="panel-body">
    <div class="row" *ngFor="let server of servers;">
      <div class="col-sm-9">
        <div
          [routerLink]="['/servers' ,server.id]"
          class="alert alert-success"
          style="
            padding: 6px;
            background-color: transparent;
            width: 294px;
            border-radius: 0px;
            cursor: pointer;
          "
        >
          {{server.name}}
        </div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger" style="border-radius: 0px" (click)="stopServer(server.id)">Stop</button>
      </div>
    </div>
  </div>
</div>
