<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let recipe of recipeList"
      style="margin-top: 5px; border-radius: 0px"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading"><b>{{ recipe.name }}</b></h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <div class="pull-right">
        <img style="max-height: 50px; max-width: 50px" [src]="recipe.image" />
      </div>
    </a>
  </div>
</div>
<app-recipe></app-recipe>
