<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Server Name"
          #serverElementName
        />
      </div>
      <div class="col-xs-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Server Description"
          #serverElementDescription
        />
      </div>
      <div class="col-xs-3">
        <button
          class="btn btn-success"
          [disabled]="!serverElementName || !serverElementDescription"
          (click)="addServer(serverElementName)"
        >
          Add Server
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!serverElementName || !serverElementDescription"
          (click)="addBlueprint(serverElementName)"
        >
          Add Blueprint
        </button>
      </div>
    </div>
  </div>
</div>
