<div class="row">
  <div class="col-xs-12">
    <img
      class="image-responsive"
      src="https://media.self.com/photos/5f1eef2914b005b8d8eba4d0/4:3/w_384/30-Minute-Roasted-Vegetable-Tacos-with-Chimichurri-BIG-flavor-satisfying-HEALTHY-vegan-glutenfree-plantbased-tacos-chimichurri-cauliflower-minimalistbaker-recipe-6.jpg"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <h3>Recipe Name</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      Some commands can always be sent, regardless of mode and state; for
      instance, the linuxcnc.command.abort() method can always be called. Other
      commands may be sent only in appropriate state, and those tests can be a
      bit tricky
    </p>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" style="float: left;border-radius: 0px;">Order Now</button>
    </div>
  </div>
  