<div
  class="alert alert-warning"
  style="border-radius: 0px; color: black"
  *ngIf="recipe"
>
  <div class="row">
    <div class="col-xs-12">
      <img
        class="image-responsive"
        [src]="recipe.image"
        style="width: 600px; max-width: 600px"
      />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h4><b>{{ recipe.name }}</b></h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>
        {{ recipe.description }}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h4><b>Ingredients : </b></h4>
      <ul class="list-group" *ngFor="let ingredient of recipe.ingredients">
        <li class="list-group-item">{{ingredient.name}} ({{ingredient.quantity}})</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" style="float: left; border-radius: 0px" (click)="addToShoppingList()">
        Add to Shopping List
      </button>
      <button class="btn btn-success pull-right" style="float: left; border-radius: 0px" [routerLink]="['edit']">
        Edit Recipe
      </button>
    </div>
  </div>
</div>
